<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704605794254-jjrj8gq89umd0duif08av80hp3n58d8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704605794254-jjrj8gq89umd0duif08av80hp3n58d8r</string>
	<key>API_KEY</key>
	<string>AIzaSyAaDR4mrt17FJkFhqIlsIQKMRRLVf1j2T8</string>
	<key>GCM_SENDER_ID</key>
	<string>704605794254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ksuices2023.ices2023</string>
	<key>PROJECT_ID</key>
	<string>ices2023</string>
	<key>STORAGE_BUCKET</key>
	<string>ices2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704605794254:ios:e5da6fc80c798b845cc59f</string>
</dict>
</plist>